body {
    font-family: sans-serif;
    font-size: 20px; 
}

header{
    background-color:lightblue;
    border-radius: 10px;
    padding: 10px;
}

h1{
    background-color: lightblue;
    text-align: center;
    color:royalblue;
    border-radius: 10px;
}

footer{
    background-color: lightblue;
    color: royalblue;
    padding: 10px;
    border-radius: 10px;
}

nav a{
    text-decoration: none;
    color: royalblue;
    background-color: lightblue;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

nav{
    margin: 20px;
}

h2 {
    color: royalblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}

.nogiev{
    background-color: lightblue;
    color: royalblue;
    border-radius: 10px;
    padding: 10px;
}

a{
    background-color: lightblue;
    color: royalblue;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

main{
    padding-left: 10px;
}
